* {
    padding: 0;
    margin: 0;
  }
  
  body {
    background: #f2f4f8;
    color: #676767;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-Form{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-box {
    background: white;
    padding: 40px 40px 30px 40px;
    border-radius: 5px;
    border-bottom: 3px solid #0073bc;
    box-shadow: 2px 5px 9px 0px #dedede;
    width: 800px;
  }
  .form-box > div {
    position: relative;
  }
  .columna1 {
    padding-right: 35px;
  }
  .columna2 {
    padding-left: 35px;
    border-left: 1px solid #0073bc14;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .form-label {
    display: block;
    margin-bottom: 5px;
  }
  .form-input {
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    height: 35px;
    padding: 10px;
    width: 100%;
  }
  .logo {
    width: 300px;
    height: 75px;
    background: url("/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  h2 {
    font-size: 18px;
    color: #676767;
    margin-bottom: 39px;
  }
  
  .alert-box {
    position: absolute;
    background: #f2f4f8bf;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  .alert-content {
    background: white;
    border-radius: 4px;
    box-shadow: 2px 5px 9px 0px #dedede;
    width: 400px;
    padding: 10px 10px 0px 10px;
  }
  .btn-alert {
    margin: 20px 0px;
  }
  
  .warnning-box {
    top: 5px;
    right: 0;
    margin-bottom: 39px;
  }
  